[submodule "shared/ark-courses"]
	path = shared/ark-courses
	url = https://github.com/arkidentity/ark-courses.git
[submodule "shared/creed-cards"]
	path = shared/creed-cards
	url = https://github.com/arkidentity/creed-cards.git
